export('GetoptLong.options')
export('qq.options')
export(GetOptions)
export(GetoptLong)
export(get_scriptdir)
export(get_scriptname)
export(qq)
export(qqcat)

import("methods")
importFrom("GlobalOptions", setGlobalOptions)
importFrom("rjson", fromJSON)

