export(source)
export(GetoptLong)
export(qq.options)
export(get_scriptname)
export(GetOptions)
export(qq)
export(qqcat)
export(GetoptLong.options)

importFrom("rjson", fromJSON)
importFrom("GlobalOptions", setGlobalOptions)
import("methods")

