export(GetOptions)
export(GetoptLong)
export(GetoptLong.options)
export(get_scriptname)
export(qq)
export(qq.options)
export(qqcat)

importFrom("rjson", fromJSON)
importFrom("GlobalOptions", setGlobalOptions)
import("methods")
